:root{
    --background: #171717;
    --backgroundSecondary: #EDEDED;
    --backgroundDarkSecondary: #444444;
    --baseRed: #DA0037;
    --baseBlue: #00ADB5;
    --backgroundContrast: #fff;
    --textColorMain: #d2d2d2;
    --spaceHorizontal: 5rem;
}

$background: var(--background);