:root{
    --background: #181610;
    --backgroundSecondary: #838282;
    --baseRed: #9a1a10;
    --baseBlue: #05d3d3;
    --backgroundContrast: #fff;
    --textColorMain: #d2d2d2;
    --spaceHorizontal: 5rem;
}
body{
    box-sizing: border-box;
    margin:0;
    padding: 0;
    font-family: Helvetica, sans-serif;
    background-color: var(--background);
}

.MarginedComponent{
    margin: var(--spaceHorizontal) auto;
}

.frame{
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
}