.ReservationBuilder{
    padding: 5rem 2.5rem;
    width: 75%;
    margin: auto;
    background-color: white;
}

.Builder{

    &Step{
        margin: 5rem auto;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }

    h2{
        text-align: center;
    }

    p{
        width: 50%;
        margin: auto;
        text-align: center;
    }

    &Text{
        grid-column: 1/-1;
    }
    
    &ItemGrid{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
    }

    input[type=text],input[type=number], input[type=date], input[type=datetime-local], input[type=time] {
        height: 1.5rem;
    } 

    input[type=checkbox] {
        height: 1rem;
        width: 1rem;

        &:checked{
            accent-color: var(--baseRed);
        }
    }

    [data-type-checks]{
        grid-column: 1/-1;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
    
        label{
            padding-left: 1rem; 
        }
    
    }
    [data-machine-checks]{
        grid-column: 1/-1;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
    
        label{
            padding-left: 1rem; 
        }
    }

    .Button-next{
        display: block;
        width: fit-content;
        padding: .5rem 1rem;
        font-weight: 700;
        cursor: pointer;
        background: var(--baseBlue);
        color: white;
        transition: .25s ease-in-out;

        &:hover{
            filter: brightness(75%);
        }
    }
}